## Repeating Prediction

The idea here being: 
After 'week 1' in the testing timeline, train on all week one data available, from all other seasons. Then test on week 1 data from test dataset. 
After 'week 2' in the testing timeline, train on all week one and week two data available, then test on week 1 & week 2 data from test dataset.
(Continue in this format)

In [1]:
# Libraries
import pandas as pd
import numpy as np
%matplotlib inline
import scipy as sp
import sklearn as sk
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
import sklearn.ensemble as skens
import sklearn.metrics as skmetric
import sklearn.naive_bayes as sknb
import sklearn.tree as sktree
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style='white', color_codes=True, font_scale=1.3)
import sklearn.externals.six as sksix
import IPython.display as ipd
from sklearn.model_selection import cross_val_score
from sklearn import metrics
import os

In [2]:
# read in bachelorette demographic data
ette_demo = pd.read_csv("ette_cont_occ_group.csv")

In [3]:
ette_demo.columns

Index(['Name', 'Age', 'Occupation', 'Agreement_1', 'Hometown', 'ElimWeek',
       'Season'],
      dtype='object')

In [4]:
ette_demo['Season'].unique()

array([ 6,  9, 11, 12,  2,  5,  1, 10,  4,  8,  7], dtype=int64)

In [5]:
ette_demo['Season'].value_counts()

5     30
12    26
11    26
10    25
9     25
8     25
7     25
6     25
4     25
2     25
1     25
Name: Season, dtype: int64

In [6]:
ette_demo.head()

,Name,Age,Occupation,Agreement_1,Hometown,ElimWeek,Season
0,Derrick Schuster,27,Construction Engineer,Architecture and Engineering,"Manhattan Beach, California",1.0,6
1,Zak Waddell,31,Drilling Fluid Engineer,Architecture and Engineering,"Dallas, Texas",8.0,9
2,Clint Arlis,27,Architectural Engineer,Architecture and Engineering,"Batavia, Illinois",3.0,11
3,Nick Benvenutti,33,Electrical Engineer,Architecture and Engineering,"Carthage, Illinois",3.0,12
4,Will Haduch,26,Civil Engineer,Architecture and Engineering,"Jersey City, New Jersey",2.0,12

We have bachelorette demographic data on 11 seasons. We are missing season 3. All available seasons have 25 contestants, except 11 and 12 (with 26) and 5 (with 30).

Then we need to merge this demographic data with the elimination/date/rose data

In [7]:
elim = pd.read_csv("bachelorette_538.csv")

In [8]:
elim.columns
elim = elim.drop([0])

In [9]:
elim.head()

,SHOW,SEASON,CONTESTANT,ELIMINATION-1,ELIMINATION-2,ELIMINATION-3,ELIMINATION-4,ELIMINATION-5,ELIMINATION-6,ELIMINATION-7,...,DATES-1,DATES-2,DATES-3,DATES-4,DATES-5,DATES-6,DATES-7,DATES-8,DATES-9,DATES-10
1,Bachelorette,13,13_BRYAN_A,R1,NaN,NaN,R,R,NaN,R,...,NaN,NaN,D6,D13,D1,D7,D1,D1,D1,D1
2,Bachelorette,13,13_PETER_K,NaN,R,NaN,NaN,NaN,R,R,...,NaN,D1,D6,D13,D9,D7,D1,D1,D1,D1
3,Bachelorette,13,13_ERIC_B,NaN,NaN,R,NaN,NaN,R,R,...,NaN,D10,D8,D13,D9,D1,D3,D1,D1,NaN
4,Bachelorette,13,13_DEAN_U,NaN,R,NaN,R,NaN,NaN,R,...,NaN,D8,D8,D1,D9,D7,D1,D1,NaN,NaN
5,Bachelorette,13,13_ADAM_G,NaN,NaN,NaN,NaN,NaN,NaN,ED,...,NaN,D10,D8,D13,D9,D7,D3,NaN,NaN,NaN

In [10]:
elim_ette = elim[elim.SHOW == 'Bachelorette'].copy()

In [11]:
elim_ette = elim_ette[elim_ette.SEASON != 'SEASON'].copy()

In [12]:
elim_ette['SEASON'].unique()

array(['13', '12', '11', '10', '09', '08', '07', '06', '05', '04', '03',
       '02', '01'], dtype=object)

In [13]:
### need to figure out if we have the same contestant counts for each season
elim_ette['SEASON'].value_counts()
#elim_ette.columns

13    31
05    30
12    26
11    26
09    25
08    25
06    25
01    25
10    25
04    25
02    25
03    25
07    25
Name: SEASON, dtype: int64

We have bachelorette elimination data on 13 seasons. We have season 3 and 13, but will not be using them (lack of demographic data). All available seasons have 25 contestants, except 11 and 12 (with 26), 13 (with 31), and 5 (with 30).

## Merging Datasets together

In [14]:
# split elim CONTESTANT on "_"
elim_ette[['CON_SEASON', 'CON_FIRST', 'CON_INIT']] = elim_ette['CONTESTANT'].str.split('_',expand=True)
elim_ette.head()

# split bach CONTESTANT on " ",
ette_demo[['CON_FIRST', 'CON_LAST', 'CON_OTHER']] = ette_demo['Name'].str.split(' ', expand=True)
ette_demo.head()
#ette_demo.CON_OTHER.value_counts() # last names but also (state) or suffix
#ette_demo.CON_LAST.value_counts()

,Name,Age,Occupation,Agreement_1,Hometown,ElimWeek,Season,CON_FIRST,CON_LAST,CON_OTHER
0,Derrick Schuster,27,Construction Engineer,Architecture and Engineering,"Manhattan Beach, California",1.0,6,Derrick,Schuster,None
1,Zak Waddell,31,Drilling Fluid Engineer,Architecture and Engineering,"Dallas, Texas",8.0,9,Zak,Waddell,None
2,Clint Arlis,27,Architectural Engineer,Architecture and Engineering,"Batavia, Illinois",3.0,11,Clint,Arlis,None
3,Nick Benvenutti,33,Electrical Engineer,Architecture and Engineering,"Carthage, Illinois",3.0,12,Nick,Benvenutti,None
4,Will Haduch,26,Civil Engineer,Architecture and Engineering,"Jersey City, New Jersey",2.0,12,Will,Haduch,None

In [15]:

# make everything uppercase 
ette_demo.CON_FIRST = ette_demo.CON_FIRST.str.upper()
ette_demo.CON_LAST = ette_demo.CON_LAST.str.upper()
ette_demo.CON_OTHER = ette_demo.CON_OTHER.str.upper()

# keep only first initial of last name
ette_demo['CON_LAST2'] = ette_demo.CON_LAST.str[0]
ette_demo['CON_LAST3'] = ette_demo.CON_LAST.str[1]
ette_demo['CON_OTHER2'] = ette_demo.CON_OTHER.str[0]
# iterate through rows in order to keep correct letter
# logic will be: 
# if CON_LAST2 == '"' or if CON_LAST3 == '.' then keep CON_OTHER2
# if CON_OTHER2 == '(' or if CON_OTHER2.isnull then keep CON_LAST2, otherwise keep CON_OTHER2

ette_demo['INITIAL'] = np.where(ette_demo.CON_OTHER2.isnull or ette_demo.CON_OTHER2 == '(', ette_demo.CON_LAST2, ette_demo.CON_OTHER2)
ette_demo['INITIAL_FINAL'] = np.where((ette_demo.CON_LAST2 == '"') | (ette_demo.CON_LAST3 == '.'), ette_demo.CON_OTHER2, ette_demo.INITIAL)

ette_demo.INITIAL_FINAL.value_counts()
ette_demo.head()

,Name,Age,Occupation,Agreement_1,Hometown,ElimWeek,Season,CON_FIRST,CON_LAST,CON_OTHER,CON_LAST2,CON_LAST3,CON_OTHER2,INITIAL,INITIAL_FINAL
0,Derrick Schuster,27,Construction Engineer,Architecture and Engineering,"Manhattan Beach, California",1.0,6,DERRICK,SCHUSTER,None,S,C,None,S,S
1,Zak Waddell,31,Drilling Fluid Engineer,Architecture and Engineering,"Dallas, Texas",8.0,9,ZAK,WADDELL,None,W,A,None,W,W
2,Clint Arlis,27,Architectural Engineer,Architecture and Engineering,"Batavia, Illinois",3.0,11,CLINT,ARLIS,None,A,R,None,A,A
3,Nick Benvenutti,33,Electrical Engineer,Architecture and Engineering,"Carthage, Illinois",3.0,12,NICK,BENVENUTTI,None,B,E,None,B,B
4,Will Haduch,26,Civil Engineer,Architecture and Engineering,"Jersey City, New Jersey",2.0,12,WILL,HADUCH,None,H,A,None,H,H

In [16]:
# remove excess columns
ette_demo = ette_demo[['Name', 'Age', 'Occupation', 'Agreement_1', 'Hometown', 'ElimWeek', 'Season', 'CON_FIRST', 'INITIAL_FINAL']].copy()
ette_demo.head()

# make data types on merge columns the same
print(elim_ette.dtypes)
ette_demo.dtypes
elim_ette['SEASON'] = elim_ette['SEASON'].astype(str).astype(int)

SHOW              object
SEASON            object
CONTESTANT        object
ELIMINATION-1     object
ELIMINATION-2     object
ELIMINATION-3     object
ELIMINATION-4     object
ELIMINATION-5     object
ELIMINATION-6     object
ELIMINATION-7     object
ELIMINATION-8     object
ELIMINATION-9     object
ELIMINATION-10    object
DATES-1           object
DATES-2           object
DATES-3           object
DATES-4           object
DATES-5           object
DATES-6           object
DATES-7           object
DATES-8           object
DATES-9           object
DATES-10          object
CON_SEASON        object
CON_FIRST         object
CON_INIT          object
dtype: object

In [17]:
# merge/match on first name, last initial season number
all_data = elim_ette.merge(ette_demo, left_on = ['SEASON', 'CON_FIRST', 'CON_INIT'], right_on = ['Season', 'CON_FIRST', 'INITIAL_FINAL'])
all_data.head()

,SHOW,SEASON,CONTESTANT,ELIMINATION-1,ELIMINATION-2,ELIMINATION-3,ELIMINATION-4,ELIMINATION-5,ELIMINATION-6,ELIMINATION-7,...,CON_FIRST,CON_INIT,Name,Age,Occupation,Agreement_1,Hometown,ElimWeek,Season,INITIAL_FINAL
0,Bachelorette,12,12_JORDAN_R,R1,NaN,NaN,R,R,NaN,NaN,...,JORDAN,R,Jordan Rodgers,27,Former Pro Quarterback,Sports,"Chico, California",NaN,12,R
1,Bachelorette,12,12_ROBBY_H,NaN,NaN,NaN,NaN,R,NaN,R,...,ROBBY,H,Robby Hayes,27,Former Competitive Swimmer,Sports,"St. Augustine, Florida",10.0,12,H
2,Bachelorette,12,12_CHASE_M,NaN,NaN,R,NaN,NaN,R,NaN,...,CHASE,M,Chase McNary,27,Medical Sales Rep,Sales,"Castle Rock, Colorado",9.0,12,M
3,Bachelorette,12,12_LUKE_P,NaN,NaN,NaN,R,NaN,R,NaN,...,LUKE,P,Luke Pell,31,War Veteran,Military,"Burnet, Texas",8.0,12,P
4,Bachelorette,12,12_JAMES_T,NaN,R,R,NaN,NaN,NaN,E,...,JAMES,T,James Taylor,29,Singer-Songwriter,Entertainment and Media,"Katy, Texas",7.0,12,T

In [18]:
## check if numbers remain the same

print(all_data['SEASON'].unique())

all_data['SEASON'].value_counts()

[12 11 10  9  8  7  6  5  4  2  1]

5     30
7     27
12    26
11    26
10    25
9     25
8     25
6     25
4     25
2      7
1      4
Name: SEASON, dtype: int64

In [19]:
elim_ette['SEASON'].value_counts()

13    31
5     30
12    26
11    26
10    25
9     25
8     25
7     25
6     25
4     25
3     25
2     25
1     25
Name: SEASON, dtype: int64

Keep 11 unique seasons (plus missing).
Have lost people in merge.
Need to check on what is causing the loss.

(so, season 12, 4 should be okay, season 7 has one too many, all others are missing some.)

In [20]:
all_data[all_data.SEASON == 6].CON_INIT.value_counts()
# lost M from demo, lost N M X from elim

N    4
K    3
R    3
M    3
H    2
W    2
B    2
V    1
L    1
S    1
D    1
C    1
X    1
Name: CON_INIT, dtype: int64

In [21]:
#all_data[(all_data.Season == 9) & (all_data.INITIAL_FINAL == 'X')]

In [22]:
#ette_demo[(ette_demo.Season == 6)].INITIAL_FINAL.value_counts()
ette_demo[(ette_demo.Season == 6) & (ette_demo.INITIAL_FINAL == 'N')]
ette_demo[(ette_demo.Season == 6) & (ette_demo.CON_FIRST == 'DEREK')]

,Name,Age,Occupation,Agreement_1,Hometown,ElimWeek,Season,CON_FIRST,INITIAL_FINAL
221,Derek X,28,Sales Manager,Sales,"Warren, Michigan",1.0,6,DEREK,X

In [23]:
#elim_ette[(elim_ette.SEASON == 6)].CON_INIT.value_counts()
elim_ette[(elim_ette.SEASON == 6) & (elim_ette.CON_INIT == 'X')]

,SHOW,SEASON,CONTESTANT,ELIMINATION-1,ELIMINATION-2,ELIMINATION-3,ELIMINATION-4,ELIMINATION-5,ELIMINATION-6,ELIMINATION-7,...,DATES-4,DATES-5,DATES-6,DATES-7,DATES-8,DATES-9,DATES-10,CON_SEASON,CON_FIRST,CON_INIT
208,Bachelorette,6,06_DEREK_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06,DEREK,X

* Brian V in elimination, Bryan V in demo (Season 5) v
* J.P. in demo, JP in elimination (Season 7) v
* Two RYAN M (Season 7)
* J.J. L in demo, JJ L in elimination (Season 11) v
* Have a David X in elimiation data, not in demo (Season 11) v
* JJ O in elimiation, J.J. O in demo (Season 10) v
SEASON 8
* JEANPAUL in elim, JEAN-PAUL in demo v
* Randy Lee Woyak in demo should be RANDY W (not RANDY L) v
SEASON 9
* Juan Pablo Galavis in demo should be JUAN G, not JUAN P v
* MICAH X and MIKE X in elim should match up with MICAH None and MIKE None in demo (no last names listed)
SEASON 6
* ROBERTO M in demo is ROBERT M in elim v
* John N. (got changed to JOHN None) in demo needs to match with JOHN N in elim v
* DEREK None in demo should match with DEREK X in elim

### Rose and Date Visualization

In [21]:
# only keep seasons 4 5 6 8 9 10 11 12
all_data_seasons = all_data[all_data.SEASON.isin([4, 5, 6, 8, 9, 10, 11, 12])].copy()

In [34]:
all_data.columns

Index(['SHOW', 'SEASON', 'CONTESTANT', 'ELIMINATION-1', 'ELIMINATION-2',
       'ELIMINATION-3', 'ELIMINATION-4', 'ELIMINATION-5', 'ELIMINATION-6',
       'ELIMINATION-7', 'ELIMINATION-8', 'ELIMINATION-9', 'ELIMINATION-10',
       'DATES-1', 'DATES-2', 'DATES-3', 'DATES-4', 'DATES-5', 'DATES-6',
       'DATES-7', 'DATES-8', 'DATES-9', 'DATES-10', 'CON_SEASON', 'CON_FIRST',
       'CON_INIT', 'Name', 'Age', 'Occupation', 'Agreement_1', 'Hometown',
       'ElimWeek', 'Season', 'INITIAL_FINAL'],
      dtype='object')

In [22]:
roses = all_data_seasons[['SHOW', 'SEASON', 'CONTESTANT', 'ELIMINATION-1', 'ELIMINATION-2',
       'ELIMINATION-3', 'ELIMINATION-4', 'ELIMINATION-5', 'ELIMINATION-6',
       'ELIMINATION-7', 'ELIMINATION-8', 'ELIMINATION-9', 'ELIMINATION-10']].copy()
roses = pd.melt(roses, id_vars=['SHOW', 'SEASON', 'CONTESTANT'])
roses.head()

           SHOW  SEASON   CONTESTANT       variable value
0  Bachelorette      12  12_JORDAN_R  ELIMINATION-1    R1
1  Bachelorette      12   12_ROBBY_H  ELIMINATION-1   NaN
2  Bachelorette      12   12_CHASE_M  ELIMINATION-1   NaN
3  Bachelorette      12    12_LUKE_P  ELIMINATION-1   NaN
4  Bachelorette      12   12_JAMES_T  ELIMINATION-1   NaN

In [26]:
# need to mark winners
# make list of CONTESTANT that have W
winners = roses[roses.value == 'W'].CONTESTANT.tolist()
winners
roses['WINNER'] = np.where(roses.CONTESTANT.isin(winners), 1, 0)
roses.head()

           SHOW  SEASON   CONTESTANT       variable value  WINNER
0  Bachelorette      12  12_JORDAN_R  ELIMINATION-1    R1       1
1  Bachelorette      12   12_ROBBY_H  ELIMINATION-1   NaN       0
2  Bachelorette      12   12_CHASE_M  ELIMINATION-1   NaN       0
3  Bachelorette      12    12_LUKE_P  ELIMINATION-1   NaN       0
4  Bachelorette      12   12_JAMES_T  ELIMINATION-1   NaN       0

In [28]:
roses['R1'] = np.where(roses.value == 'R1', 1, 0)
roses['R'] = np.where(roses.value == 'R', 1, 0)

In [34]:
print("Count of R1 Roses for Winners:")
print(roses[roses.WINNER == 1].R1.value_counts())
print("Count of R Roses for Winners:")
print(roses[roses.WINNER == 1].R.value_counts())

print("Count of R1 Roses for Losers:")
print(roses[roses.WINNER == 0].R1.value_counts())
print("Count of R Roses for Losers:")
print(roses[roses.WINNER == 0].R.value_counts())

Count of R1 Roses for Winners:
0    76
1     4
Name: R1, dtype: int64
Count of R Roses for Winners:
0    66
1    14
Name: R, dtype: int64
Count of R1 Roses for Losers:
0    1979
1      11
Name: R1, dtype: int64
Count of R Roses for Losers:
0    1901
1      89
Name: R, dtype: int64

In [38]:
roses.head()
roses.to_csv("Roses.csv")

In [65]:
roses_only = roses[((roses.value == 'R1') | (roses.value == 'R'))].copy()
# count average number of first impression roses per winner
roses_only_winners = roses_only[roses_only.WINNER == 1].copy()
roses_only_winners[['SEASON', 'R1', 'R']].groupby(['SEASON']).count()

        R1  R
SEASON
4        2  2
5        1  1
6        2  2
8        3  3
9        2  2
10       2  2
11       3  3
12       3  3

In [64]:
# and per loser
roses_only_losers = roses_only[roses_only.WINNER == 0].copy()
roses_only_losers[['SEASON', 'CONTESTANT', 'R1', 'R']].groupby(['SEASON', 'CONTESTANT']).count().groupby(['SEASON']).mean()

              R1         R
SEASON
4       1.125000  1.125000
5       1.181818  1.181818
6       1.666667  1.666667
8       1.666667  1.666667
9       2.000000  2.000000
10      2.000000  2.000000
11      1.444444  1.444444
12      1.625000  1.625000

In [93]:
roses_only.groupby(['SEASON', 'variable']).count()

                      SHOW  CONTESTANT  value  WINNER  R1  R
SEASON variable
4      ELIMINATION-1     3           3      3       3   3  3
       ELIMINATION-2     3           3      3       3   3  3
       ELIMINATION-3     3           3      3       3   3  3
       ELIMINATION-4     2           2      2       2   2  2
5      ELIMINATION-1     1           1      1       1   1  1
       ELIMINATION-2     4           4      4       4   4  4
       ELIMINATION-3     2           2      2       2   2  2
       ELIMINATION-4     3           3      3       3   3  3
       ELIMINATION-5     2           2      2       2   2  2
       ELIMINATION-6     2           2      2       2   2  2
6      ELIMINATION-1     1           1      1       1   1  1
       ELIMINATION-2     3           3      3       3   3  3
       ELIMINATION-3     2           2      2       2   2  2
       ELIMINATION-4     1           1      1       1   1  1
       ELIMINATION-5     3           3      3       3   3  3
       ELIMINATION-6     2           2      2       2   2  2
8      ELIMINATION-1     1           1      1       1   1  1
       ELIMINATION-2     2           2      2       2   2  2
       ELIMINATION-3     3           3      3       3   3  3
       ELIMINATION-4     3           3      3       3   3  3
       ELIMINATION-5     2           2      2       2   2  2
       ELIMINATION-6     1           1      1       1   1  1
       ELIMINATION-7     1           1      1       1   1  1
9      ELIMINATION-1     6           6      6       6   6  6
       ELIMINATION-2     3           3      3       3   3  3
       ELIMINATION-3     3           3      3       3   3  3
       ELIMINATION-4     2           2      2       2   2  2
       ELIMINATION-5     3           3      3       3   3  3
       ELIMINATION-6     2           2      2       2   2  2
       ELIMINATION-7     1           1      1       1   1  1
10     ELIMINATION-1     1           1      1       1   1  1
       ELIMINATION-2     3           3      3       3   3  3
       ELIMINATION-3     3           3      3       3   3  3
       ELIMINATION-4     3           3      3       3   3  3
       ELIMINATION-5     3           3      3       3   3  3
       ELIMINATION-6     2           2      2       2   2  2
       ELIMINATION-7     1           1      1       1   1  1
11     ELIMINATION-1     1           1      1       1   1  1
       ELIMINATION-2     3           3      3       3   3  3
       ELIMINATION-3     3           3      3       3   3  3
       ELIMINATION-4     3           3      3       3   3  3
       ELIMINATION-5     3           3      3       3   3  3
       ELIMINATION-6     3           3      3       3   3  3
12     ELIMINATION-1     1           1      1       1   1  1
       ELIMINATION-2     3           3      3       3   3  3
       ELIMINATION-3     3           3      3       3   3  3
       ELIMINATION-4     3           3      3       3   3  3
       ELIMINATION-5     3           3      3       3   3  3
       ELIMINATION-6     2           2      2       2   2  2
       ELIMINATION-7     1           1      1       1   1  1

### Actual Iterative System Using this Combined Data

In [70]:
all_data_seasons.columns

Index(['SHOW', 'SEASON', 'CONTESTANT', 'ELIMINATION-1', 'ELIMINATION-2',
       'ELIMINATION-3', 'ELIMINATION-4', 'ELIMINATION-5', 'ELIMINATION-6',
       'ELIMINATION-7', 'ELIMINATION-8', 'ELIMINATION-9', 'ELIMINATION-10',
       'DATES-1', 'DATES-2', 'DATES-3', 'DATES-4', 'DATES-5', 'DATES-6',
       'DATES-7', 'DATES-8', 'DATES-9', 'DATES-10', 'CON_SEASON', 'CON_FIRST',
       'CON_INIT', 'Name', 'Age', 'Occupation', 'Agreement_1', 'Hometown',
       'ElimWeek', 'Season', 'INITIAL_FINAL'],
      dtype='object')

In [94]:
bachelorette = all_data_seasons[['SEASON','CONTESTANT', 'Name', 'ELIMINATION-1', 'ELIMINATION-2',
       'ELIMINATION-3', 'ELIMINATION-4', 'ELIMINATION-5', 'ELIMINATION-6',
       'ELIMINATION-7', 'ELIMINATION-8', 'ELIMINATION-9', 'ELIMINATION-10',
       'DATES-1', 'DATES-2', 'DATES-3', 'DATES-4', 'DATES-5', 'DATES-6',
       'DATES-7', 'DATES-8', 'DATES-9', 'DATES-10', 'Age', 'Occupation', 'Agreement_1', 'Hometown']].copy()

so after 'week 1' we would use the following variables to predict: 
* DATES-1, Age, Occupation/Agreement_1, Hometown
after 'week 2' we would use: 
* DATES-1, Age, Occupation/Agreement_1, Hometown + DATES-2

ELIMINATION-1, etc. would be used to remove people from our data set after each round

for experiment sake, each time, we will train on seasons 4 5 6 8 9 10 11  
and test on season 12

In [95]:
bachelorette['ROSE-1'] = np.where(bachelorette['ELIMINATION-1'] == 'R', 1, 0)
bachelorette['ROSE-2'] = np.where(bachelorette['ELIMINATION-2'] == 'R', 1, 0)
bachelorette['ROSE-3'] = np.where(bachelorette['ELIMINATION-3'] == 'R', 1, 0)
bachelorette['ROSE-4'] = np.where(bachelorette['ELIMINATION-4'] == 'R', 1, 0)
bachelorette['ROSE-5'] = np.where(bachelorette['ELIMINATION-5'] == 'R', 1, 0)
bachelorette['ROSE-6'] = np.where(bachelorette['ELIMINATION-6'] == 'R', 1, 0)
bachelorette['ROSE-7'] = np.where(bachelorette['ELIMINATION-7'] == 'R', 1, 0)
bachelorette['ROSE-8'] = np.where(bachelorette['ELIMINATION-8'] == 'R', 1, 0)
bachelorette['ROSE-9'] = np.where(bachelorette['ELIMINATION-9'] == 'R', 1, 0)
bachelorette['ROSE-10'] = np.where(bachelorette['ELIMINATION-10'] == 'R', 1, 0)

In [96]:
bachelorette['FIR-1'] = np.where(bachelorette['ELIMINATION-1'] == 'R1', 1, 0)
bachelorette['FIR-2'] = np.where(bachelorette['ELIMINATION-2'] == 'R1', 1, 0)
bachelorette['FIR-3'] = np.where(bachelorette['ELIMINATION-3'] == 'R1', 1, 0)
bachelorette['FIR-4'] = np.where(bachelorette['ELIMINATION-4'] == 'R1', 1, 0)
bachelorette['FIR-5'] = np.where(bachelorette['ELIMINATION-5'] == 'R1', 1, 0)
bachelorette['FIR-6'] = np.where(bachelorette['ELIMINATION-6'] == 'R1', 1, 0)
bachelorette['FIR-7'] = np.where(bachelorette['ELIMINATION-7'] == 'R1', 1, 0)
bachelorette['FIR-8'] = np.where(bachelorette['ELIMINATION-8'] == 'R1', 1, 0)
bachelorette['FIR-9'] = np.where(bachelorette['ELIMINATION-9'] == 'R1', 1, 0)
bachelorette['FIR-10'] = np.where(bachelorette['ELIMINATION-10'] == 'R1', 1, 0)

In [97]:
bachelorette['WINNER'] = np.where(bachelorette.CONTESTANT.isin(winners), 1, 0)

In [89]:
bachelorette.columns

Index(['SEASON', 'CONTESTANT', 'Name', 'ELIMINATION-1', 'ELIMINATION-2',
       'ELIMINATION-3', 'ELIMINATION-4', 'ELIMINATION-5', 'ELIMINATION-6',
       'ELIMINATION-7', 'ELIMINATION-8', 'ELIMINATION-9', 'ELIMINATION-10',
       'DATES-1', 'DATES-2', 'DATES-3', 'DATES-4', 'DATES-5', 'DATES-6',
       'DATES-7', 'DATES-8', 'DATES-9', 'DATES-10', 'Age', 'Occupation',
       'Agreement_1', 'Hometown', 'ROSE-1', 'ROSE-2', 'ROSE-3', 'ROSE-4',
       'ROSE-5', 'ROSE-6', 'ROSE-7', 'ROSE-8', 'ROSE-9', 'ROSE-10', 'WINNER'],
      dtype='object')

### Choose test and train sets

### Enter the System

In [101]:
test_bach = bachelorette[bachelorette.SEASON == 12].copy()
train_bach = bachelorette[bachelorette.SEASON != 12].copy()

week = 1
# 'Occupation', 'Agreement_1', 'Hometown'
vars_to_use = ['WINNER', 'Age'] ### will need  to add other relevant predictor variables 

while week <= 10: # ten weeks of data available
    
    #new_var = 'DATES-' + str(week)
    #vars_to_use.append(new_var)
    
    new_var = 'ROSE-' + str(week)
    vars_to_use.append(new_var)
    
    new_var = 'FIR-' + str(week)
    vars_to_use.append(new_var)
    
    # create model
    rf_model = skens.RandomForestClassifier(n_estimators=10,oob_score=True, criterion='entropy')
    
    # train on correct variables based on week
    ### need 'WINNER' binary as right/wrong
    this_train = train_bach[vars_to_use].copy()
    
    # train model on our train set
    rf_model.fit(this_train[vars_to_use[1:]], this_train.WINNER)
    
    # set up test set
    this_test = test_bach[vars_to_use].copy()
    
    # test on correct variables based on week
    # hide winners
    predicted_labels = rf_model.predict(this_test[vars_to_use[1:]])
    
    # add in predictions
    this_test['PREDICTED'] = predicted_labels
    
    print(week)
    print(this_test[['PREDICTED', 'WINNER']])
    
    # remove contestants based on ELIMINATION
    e_week_name = 'ELIMINATION-' + str(week)
    
    # keep them if their elimination value is null or is R (rose)
    test_bach = test_bach[(test_bach[e_week_name].isnull()) | (test_bach[e_week_name] == 'R') | (test_bach[e_week_name] == 'R1') ]
    train_bach = train_bach[(train_bach[e_week_name].isnull()) | (train_bach[e_week_name] == 'R') | (train_bach[e_week_name] == 'R1')]
    
    # increment time
    week = week + 1

C:\Users\julie\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:453: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\julie\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:458: RuntimeWarning: invalid value encountered in true_divide
  predictions[k].sum(axis=1)[:, np.newaxis])
C:\Users\julie\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:453: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\julie\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:458: RuntimeWarning: invalid value encountered in true_divide
  predictions[k].sum(axis=1)[:, np.newaxis])
C:\Users\julie\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:453: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\julie\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:458: RuntimeWarning: invalid value encountered in true_divide
  predictions[k].sum(axis=1)[:, np.newaxis])
C:\Users\julie\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:453: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\julie\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:458: RuntimeWarning: invalid value encountered in true_divide
  predictions[k].sum(axis=1)[:, np.newaxis])
C:\Users\julie\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:453: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\julie\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:458: RuntimeWarning: invalid value encountered in true_divide
  predictions[k].sum(axis=1)[:, np.newaxis])
C:\Users\julie\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:453: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "

1
    PREDICTED  WINNER
0           0       1
1           0       0
2           0       0
3           0       0
4           0       0
5           0       0
6           0       0
7           0       0
8           0       0
9           0       0
10          0       0
11          0       0
12          0       0
13          0       0
14          0       0
15          0       0
16          0       0
17          0       0
18          0       0
19          0       0
20          0       0
21          0       0
22          0       0
23          0       0
24          0       0
25          0       0
2
    PREDICTED  WINNER
0           0       1
1           0       0
2           0       0
3           0       0
4           0       0
5           0       0
6           0       0
7           0       0
8           0       0
9           0       0
10          0       0
11          0       0
12          0       0
13          0       0
14          0       0
15          0       0
16          0       0
17          0       0
18          0       0
19          0       0
3
    PREDICTED  WINNER
0           0       1
1           0       0
2           0       0
3           0       0
4           0       0
5           0       0
6           0       0
7           0       0
8           0       0
9           0       0
10          0       0
11          0       0
12          0       0
13          0       0
14          0       0
15          0       0
16          0       0
4
    PREDICTED  WINNER
0           0       1
1           0       0
2           1       0
3           0       0
4           0       0
5           0       0
6           0       0
7           0       0
8           0       0
9           0       0
10          0       0
11          0       0
12          0       0
13          0       0
5
    PREDICTED  WINNER
0           0       1
1           0       0
2           0       0
3           0       0
4           0       0
5           0       0
6           0       0
7           0       0
8           0       0
9           0       0
10          0       0
6
   PREDICTED  WINNER
0          0       1
1          0       0
2          0       0
3          0       0
4          0       0
5          0       0
6          0       0
7          0       0
7
   PREDICTED  WINNER
0          0       1
1          0       0
2          0       0
3          0       0
4          1       0
5          0       0
8
   PREDICTED  WINNER
0          1       1
1          0       0
2          0       0
3          0       0
9
   PREDICTED  WINNER
0          1       1
1          1       0
2          0       0
10
   PREDICTED  WINNER
0          1       1
1          0       0

C:\Users\julie\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:458: RuntimeWarning: invalid value encountered in true_divide
  predictions[k].sum(axis=1)[:, np.newaxis])