# Data Consolidation
#### Building a Dataset

In [1]:
# library load
import pandas as pd
import numpy as np
%matplotlib inline

In [3]:
elim_data = pd.read_csv('bachelorette_538.csv')
# remove first line, which is just the header info repeated
elim_data = elim_data.drop([0])
elim_data.head()

,SHOW,SEASON,CONTESTANT,ELIMINATION-1,ELIMINATION-2,ELIMINATION-3,ELIMINATION-4,ELIMINATION-5,ELIMINATION-6,ELIMINATION-7,...,DATES-1,DATES-2,DATES-3,DATES-4,DATES-5,DATES-6,DATES-7,DATES-8,DATES-9,DATES-10
1,Bachelorette,13,13_BRYAN_A,R1,NaN,NaN,R,R,NaN,R,...,NaN,NaN,D6,D13,D1,D7,D1,D1,D1,D1
2,Bachelorette,13,13_PETER_K,NaN,R,NaN,NaN,NaN,R,R,...,NaN,D1,D6,D13,D9,D7,D1,D1,D1,D1
3,Bachelorette,13,13_ERIC_B,NaN,NaN,R,NaN,NaN,R,R,...,NaN,D10,D8,D13,D9,D1,D3,D1,D1,NaN
4,Bachelorette,13,13_DEAN_U,NaN,R,NaN,R,NaN,NaN,R,...,NaN,D8,D8,D1,D9,D7,D1,D1,NaN,NaN
5,Bachelorette,13,13_ADAM_G,NaN,NaN,NaN,NaN,NaN,NaN,ED,...,NaN,D10,D8,D13,D9,D7,D3,NaN,NaN,NaN

In [5]:
# need to change from wide form data to long form data
# want it to be:
# SHOW, SEASON, CONTESTANT, 'TYPE', 'VALUE'
# with 'TYPE' as the current column names
elim1 = pd.melt(elim_data, id_vars=['SHOW', 'SEASON', 'CONTESTANT'])
elim1.head()

           SHOW SEASON  CONTESTANT       variable value
0  Bachelorette     13  13_BRYAN_A  ELIMINATION-1    R1
1  Bachelorette     13  13_PETER_K  ELIMINATION-1   NaN
2  Bachelorette     13   13_ERIC_B  ELIMINATION-1   NaN
3  Bachelorette     13   13_DEAN_U  ELIMINATION-1   NaN
4  Bachelorette     13   13_ADAM_G  ELIMINATION-1   NaN

In [6]:
# rename variable and value
elim1.columns = ['SHOW', 'SEASON', 'CONTESTANT', 'TYPE', 'VALUE']
elim1.head()

           SHOW SEASON  CONTESTANT           TYPE VALUE
0  Bachelorette     13  13_BRYAN_A  ELIMINATION-1    R1
1  Bachelorette     13  13_PETER_K  ELIMINATION-1   NaN
2  Bachelorette     13   13_ERIC_B  ELIMINATION-1   NaN
3  Bachelorette     13   13_DEAN_U  ELIMINATION-1   NaN
4  Bachelorette     13   13_ADAM_G  ELIMINATION-1   NaN

In [7]:
# split TYPE variable
elim1[['ELIM_DATE', 'NUMBER']] = elim1['TYPE'].str.split('-',expand=True)

In [8]:
elim1.head()

           SHOW SEASON  CONTESTANT           TYPE VALUE    ELIM_DATE NUMBER
0  Bachelorette     13  13_BRYAN_A  ELIMINATION-1    R1  ELIMINATION      1
1  Bachelorette     13  13_PETER_K  ELIMINATION-1   NaN  ELIMINATION      1
2  Bachelorette     13   13_ERIC_B  ELIMINATION-1   NaN  ELIMINATION      1
3  Bachelorette     13   13_DEAN_U  ELIMINATION-1   NaN  ELIMINATION      1
4  Bachelorette     13   13_ADAM_G  ELIMINATION-1   NaN  ELIMINATION      1

### this is the information we need to model 'survival'

# Need to Bring In the Contestant & Bachelor/ette data
#### modify region/state and occupation
### Then combine it to create a possible demographic predictive set
#### and make some other possible useful variables

In [ ]:
bach = pd.read_csv("bachelor.csv")
bach_cont = pd.read_csv("bachelor-contestants.csv")
ette = pd.read_csv("bachelorette.csv")
ette_cont = pd.read_csv("bachelorette-contestants.csv")